<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decodificador</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <img src="../assets/Logo.png" alt="Logo é uma letra A" class="">
    </header>
    <main class="original">
        <section class="original__text">
            <input type="text" value="Digite seu texto " class="original__text__decoded">
            <div class="original__button">
                <button onclick="checkKick()" class="encoded__button">Criptografar</button>
                <button onclick="restartGame()" id="reiniciar" class="original__button__text" >Descriptografar</button>
            </div>
        </section>
        <div class="encoded__text">
            <input type="text" value="" class="encoded__text__input">
            <img src="../assets/High quality products 1 1.png" alt="Desenho de um menino segurando uma lupa">
            <h1>Nenhuma mensagem encontrada</h1>
            <p>Digite um texto que você deseja criptografar ou descriptografar.</p>   
    </main>
    <footer class="baseboard">
        <p>Desenvolvido por Douglas Bitencourt</p>
    </footer>  
</body>
</html>