:root {
    --cor-primary: #E5E5E5;
    --cor-secondary: #FFFFFF;
    --cor-tertiary: #343A40;
    --cor-quaternary: #D8DFE8;
    --cor-chitenaria: #0A3871;  
    --cor-hover: #272727;

    --fonte-primary: 'Krona One', sans-serif;
    --fonte-secondary: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh;  */
    box-sizing: border-box;
    background-color: var(--cor-primary);
    color: var(--cor-tertiary)

}

header {
    padding: 2% 0% 1% 0%;
    display: flex;
    gap: 2px;
}

.rede {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 0 0 800px;
}

.original {
    padding: 1%;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

}

.original__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;   
}

#original__text__decoded {
    background-color: var(--cor-primary);
    display: flex;
    justify-content: center;
    gap: 16px;    
    width: 100%;
    text-align: center;
    border: none;
    resize: none;
    outline: 0;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 10px;
    text-decoration: none;
    color: var(--cor-chitenaria);
    font-family: var(--fonte-secondary);
    
}

#help {
    display: flex;    
    justify-content: center;     
}


.original__button {
    display: flex;    
    gap: 10px; 
    width: 100%;
    padding: 0 0 50px 0;
}

.encoded__button {
    border-radius: 16px;
    background: var(--cor-chitenaria);
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
    color: var(--cor-secondary);
    cursor: pointer;
}

.original__button__text {
    border-radius: 16px;
    background: var(--cor-quaternary);
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
    color: var(--cor-chitenaria);
    cursor: pointer;
}

#copy {
    border-radius: 16px;
    background: var(--cor-chitenaria);
    border: none;    
    color: var(--cor-secondary);
    cursor: pointer;  
   /*  visibility: hidden; */
}

#encoded {
    width: 30%;       
    background-color: var(--cor-secondary);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    gap: 25px;    
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21px;
    text-decoration: none;
    color: var(--cor-tertiary);
    font-family: var(--fonte-secondary);    
    /* visibility: hidden; */
}

#encoded__encoded {
    width: 100%;       
    background-color: var(--cor-secondary);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    gap: 16px;    
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px ;
    text-decoration: none;
    color: var(--cor-tertiary);
    font-family: var(--fonte-secondary);    
    visibility: hidden;    

}

.baseboard {
    color: var(--cor-primary);
    background-color: var(--cor-tertiary);
    padding: 5px;
    text-align: center;
    font-family: var(--fonte-secondary);
    font-size: 1rem;
    font-weight: 400;
        
}


@media (max-width: 800px) {
    header {
        padding: 10%;    
        justify-content: center;   
    }
    .rede {   
        padding: 2%;
        width: 100%;        
        justify-content: center;  
    }
    .original {
        flex-direction: column;
        padding: 5%;
    }

    .original__text {
        width: auto;
    }
    .original__button {
        flex-direction: column;
        padding: 5%;
    }
    #encoded {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;        
    }
} 

